In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# load member-level data
df = pd.read_csv(r"/content/drive/MyDrive/Colab Notebooks/heritage health prize/hhp_final_data.csv")

# perform feature extraction on year 1 data
data = df[df['Year']=='Y1'].copy()

# features = [i for i in data.columns if i not in ('MemberID', 'DaysInHospital', 'Year', 'trainset')]

"""
We will try to find to find the most important values in these categorical variables:
- Primary Condition Group
- Specialty
- Procedure Group
- Place of Service
"""
l = [
    'pcg0', 'pcg1', 'pcg2', 'pcg3', 'pcg4', 'pcg5', 'pcg6', 'pcg7', 'pcg8', 'pcg9', 'pcg10', 'pcg11', 'pcg12', 'pcg13', 'pcg14', 'pcg15', 'pcg16', 'pcg17', 'pcg18', 'pcg19', 'pcg20', 'pcg21', 'pcg22', 'pcg23', 'pcg24', 'pcg25', 'pcg26', 'pcg27', 'pcg28', 'pcg29', 'pcg30', 'pcg31', 'pcg32', 'pcg33', 'pcg34', 'pcg35', 'pcg36', 'pcg37', 'pcg38', 'pcg39', 'pcg40', 'pcg41', 'pcg42', 'pcg43', 'pcg44', 'pcg45',
    'sp0', 'sp1', 'sp2', 'sp3', 'sp4', 'sp5', 'sp6', 'sp7', 'sp8', 'sp9', 'sp10', 'sp11', 'sp12',
    'pg0', 'pg1', 'pg2', 'pg3', 'pg4', 'pg5', 'pg6', 'pg7', 'pg8', 'pg9', 'pg10', 'pg11', 'pg12', 'pg13', 'pg14', 'pg15', 'pg16', 'pg17',
    'ps0', 'ps1', 'ps2', 'ps3', 'ps4', 'ps5', 'ps6', 'ps7', 'ps8'
]

# add a binary feature `in_hospital`, telling if the patient will visit hospital
def is_in_hospital(col):
  if col>0:
    return 1
  else:
    return 0

data.loc[:, 'in_hospital'] = data['DaysInHospital'].apply(is_in_hospital)

In [ ]:
# Use Random Forest Classifier to find the feature importances. In this case,
# we try to see whether the above categorical values are good in predicting if
# the patient will visit hospital next year
from sklearn.ensemble import RandomForestClassifier

y = data['in_hospital']
X = data[l]

clf = RandomForestClassifier(max_depth=5, random_state=0)
clf.fit(X, y)

importances = clf.feature_importances_
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

# save the feature importances into a dictionary
feature_importance_dict = {'rank': [], 'feature_label': [], 'importance': []}
for f in range(X.shape[1]):
  feature_importance_dict['rank'].append(f + 1)
  feature_importance_dict['feature_label'].append(l[indices[f]])
  feature_importance_dict['importance'].append(importances[indices[f]])
  print("%d. feature %d %s (%f)" % (f + 1, indices[f], l[indices[f]], importances[indices[f]]))

Feature ranking:
1. feature 60 pg1 (0.163894)
2. feature 53 sp7 (0.104699)
3. feature 47 sp1 (0.067891)
4. feature 77 ps0 (0.064771)
5. feature 51 sp5 (0.056775)
6. feature 80 ps3 (0.053761)
7. feature 62 pg3 (0.051650)
8. feature 81 ps4 (0.045779)
9. feature 25 pcg25 (0.045494)
10. feature 64 pg5 (0.039881)
11. feature 59 pg0 (0.038324)
12. feature 48 sp2 (0.032552)
13. feature 65 pg6 (0.029022)
14. feature 78 ps1 (0.027038)
15. feature 8 pcg8 (0.014988)
16. feature 9 pcg9 (0.012958)
17. feature 61 pg2 (0.011537)
18. feature 16 pcg16 (0.009234)
19. feature 10 pcg10 (0.007983)
20. feature 85 ps8 (0.007828)
21. feature 24 pcg24 (0.007765)
22. feature 19 pcg19 (0.006678)
23. feature 7 pcg7 (0.006407)
24. feature 63 pg4 (0.006389)
25. feature 0 pcg0 (0.005929)
26. feature 79 ps2 (0.005261)
27. feature 55 sp9 (0.004532)
28. feature 52 sp6 (0.004072)
29. feature 1 pcg1 (0.003938)
30. feature 6 pcg6 (0.003900)
31. feature 54 sp8 (0.003865)
32. feature 46 sp0 (0.003828)
33. feature 18 pcg18 (0.003647)
34. feature 66 pg7 (0.003524)
35. feature 23 pcg23 (0.003250)
36. feature 56 sp10 (0.002940)
37. feature 15 pcg15 (0.002174)
38. feature 76 pg17 (0.002170)
39. feature 33 pcg33 (0.002114)
40. feature 34 pcg34 (0.002039)
41. feature 29 pcg29 (0.002021)
42. feature 73 pg14 (0.001749)
43. feature 4 pcg4 (0.001556)
44. feature 2 pcg2 (0.001342)
45. feature 17 pcg17 (0.001289)
46. feature 14 pcg14 (0.001176)
47. feature 27 pcg27 (0.001150)
48. feature 67 pg8 (0.001071)
49. feature 12 pcg12 (0.001063)
50. feature 35 pcg35 (0.001061)
51. feature 83 ps6 (0.000987)
52. feature 82 ps5 (0.000973)
53. feature 3 pcg3 (0.000945)
54. feature 21 pcg21 (0.000932)
55. feature 5 pcg5 (0.000902)
56. feature 22 pcg22 (0.000789)
57. feature 20 pcg20 (0.000723)
58. feature 11 pcg11 (0.000682)
59. feature 57 sp11 (0.000659)
60. feature 68 pg9 (0.000606)
61. feature 50 sp4 (0.000568)
62. feature 43 pcg43 (0.000543)
63. feature 30 pcg30 (0.000506)
64. feature 58 sp12 (0.000493)
65. feature 49 sp3 (0.000482)
66. feature 74 pg15 (0.000456)
67. feature 71 pg12 (0.000444)
68. feature 70 pg11 (0.000386)
69. feature 13 pcg13 (0.000380)
70. feature 28 pcg28 (0.000376)
71. feature 31 pcg31 (0.000362)
72. feature 84 ps7 (0.000335)
73. feature 69 pg10 (0.000327)
74. feature 32 pcg32 (0.000314)
75. feature 38 pcg38 (0.000299)
76. feature 39 pcg39 (0.000277)
77. feature 36 pcg36 (0.000259)
78. feature 72 pg13 (0.000240)
79. feature 41 pcg41 (0.000222)
80. feature 26 pcg26 (0.000180)
81. feature 37 pcg37 (0.000120)
82. feature 44 pcg44 (0.000119)
83. feature 45 pcg45 (0.000077)
84. feature 40 pcg40 (0.000046)
85. feature 42 pcg42 (0.000031)
86. feature 75 pg16 (0.000000)

In [ ]:
feature_importance_df = pd.DataFrame(feature_importance_dict)

# only keep the first 50 most important features
omitted_l = feature_importance_df[feature_importance_df['rank']>50]['feature_label']

In [ ]:
features_to_drop = ('MemberID', 'DaysInHospital', 'Year', 'trainset', 'in_hospital') + tuple(omitted_l.values)
features = [i for i in data.columns if i not in features_to_drop]

In [ ]:
df.head()

   MemberID  ClaimsTruncated  ...  drugcount_nan labcount_nan
0  24027423                0  ...              0            0
1  98324177                0  ...              0            0
2  33899367                1  ...              0            0
3   5481382                0  ...              0            0
4  69908334                0  ...              0            0

[5 rows x 146 columns]

In [ ]:
final_df = df.drop(columns=omitted_l)

final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147473 entries, 0 to 147472
Columns: 110 entries, MemberID to labcount_nan
dtypes: float64(74), int64(35), object(1)
memory usage: 123.8+ MB

In [ ]:
# 36 features have been removed
# final_df.to_csv(r'/content/drive/MyDrive/Colab Notebooks/heritage health prize/final_data.csv', index=False)

In [ ]:
# final_df[['MemberID', 'pcp_prob', 'vendor_prob', 'provider_prob']]

        MemberID  pcp_prob  vendor_prob  provider_prob
0       24027423  0.257737     0.299153       0.239850
1       98324177  0.265180     0.248000       0.242471
2       33899367  0.106716     0.327027       0.209908
3        5481382  0.213570     0.245260       0.239850
4       69908334  0.268316     0.245260       0.253925
...          ...       ...          ...            ...
147468    206785  0.294773     0.265155       0.273366
147469  93465383  0.211600     0.327749       0.329606
147470  57466586  0.325972     0.289252       0.272189
147471  57283229  0.000000     0.207957       0.207769
147472  29819036  0.215254     0.283391       0.244763

[147473 rows x 4 columns]